* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    height: 100vh;
}